{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{  form_end(form)}}
    <p>Already have an account?Click <a href="login">here</a> to login!</p>
{% endblock %}
